@{
    ViewData["Title"] = "Home Page";
}
@using authorizationcodeflow.Models
@model DiscoveryModel
<div class="row">
    <h2>Identity server endpoint</h2>
    Enter URL to discovery endpoint

    <form asp-controller="Home" asp-action="Discovery" method="post">
        <input asp-for="Url" , value="https://testlogin.comaround.com/.well-known/openid-configuration" />
        <button type="submit">Discover</button>
    </form>
</div>